<?xml version="1.0" encoding="utf-8"?>
<connectionStrings>
  <add name="StoreDbContext"
       connectionString="Data Source=20.118.204.47,1433;Initial Catalog=eShop;User ID=eshopapp;Password=REPLACE_ME;Encrypt=True;TrustServerCertificate=True;"
       providerName="System.Data.SqlClient" />
</connectionStrings>
